pip==19.2.3
# python  # TODO deal with this
# cookiecutter  # This was used to generate the project but should not be needed going forward
StrEnum  # This is required for python versions < 3.11
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0

pytest==6.2.4
black==21.7b0

# TODO sort
pydocstyle
pycodestyle

# Still verifying I need to use the following
#opencv-python  # TODO most likely do not need this I moved to using moviepy
pytest-golden


# On windows this required me to install this as well: https://imagemagick.org/script/download.php#windows.
# See this stack overflow post: https://stackoverflow.com/questions/51928807/moviepy-cant-detect-imagemagick-binary-on-windows
moviepy

beautifulsoup4

flask
flask-wtf
flask-bootstrap
wtforms

pyinstaller

# Used for downloading youtube videos
# Had to donwload this git repo and install with python setup.py develop
# youtube-dl
