pip
# python  # TODO deal with this
# cookiecutter  # This was used to generate the project but should not be needed going forward
StrEnum  # This is required for python versions < 3.11
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

pytest
black

# TODO sort
pydocstyle
pycodestyle

# Still verifying I need to use the following
#opencv-python  # TODO most likely do not need this I moved to using moviepy
pytest-golden


# On windows this required me to install this as well: https://imagemagick.org/script/download.php#windows.
# See this stack overflow post: https://stackoverflow.com/questions/51928807/moviepy-cant-detect-imagemagick-binary-on-windows
moviepy

beautifulsoup4

flask
flask-wtf
flask-bootstrap
wtforms

pyinstaller

yt_dlp
# Used for downloading youtube videos
# Had to donwload this git repo and install with python setup.py develop
# mkdir included-sw
# cd included-sw
# git clone https://github.com/ytdl-org/youtube-dl.git
# cd youtube-dl
# git checkout aaed4884ed9954b8b69c3ca5254418ec578ed0b9
# python setup.py develop
#youtube-dl==2021.12.17  # TODO this might not work

# TODO ffmpeg, I used choco